{% extends "!layout.html" %}
{%- set rellinks = [] %}
{#{%- set css_files = css_files + ["http://fonts.googleapis.com/css?family=Open+Sans"] %}#} 
{% set bootswatch_css_custom = ['_static/custom.css'] %}
{%- set metatags = '<meta name="viewport" content="width=600" />\n'|safe %}
{%- set metatags = metatags + '    <meta name="description" content="Personal site of Shichao An, graduate student in Computer Science at Courant Institute of Mathematical Sciences, New York University." />\n'|safe %}
{%- set metatags = metatags + '    <meta name="keywords" content="Shouda Wang" />\n'|safe %}
{% block rootrellink %}
    <li><a href="index.html">Home</a> |</li>
    <li><a href="resume.html">Resume</a> |</li>
    <li><a href="projects.html">Projects</a> |</li>
    <li><a href="http://blog.shichao-an.info">Blog</a> |</li>
    <li><a href="contact.html">Contact</a> |<li>
    <li><a href="about.html">About</a><li>
{% endblock %}
{% block relbar2 %}
{% endblock %}
{%- block htmltitle %}
{%- if title == "Welcome" -%}
<title>{{ docstitle }}</title>
{% else %}
{%- set titlesuffix = " &ndash; "|safe + docstitle|e %}
<title>{{ title|striptags|e }}{{ titlesuffix }}</title>
{%- endif %}
{%- endblock %}
